@{
    Layout = null;
    ViewBag.Title = "Dashboard";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>

</head>
<body>
    <div class="dashboard">
        <h2>Bienvenido Padre de Familia</h2>

    </div>
    <form asp-action="CreateCuestionario" method="post">
        <button type="submit" class="btn btn-primary">Crear Cuestionario</button>
    </form>
    <a asp-action="IndexPreguntas" asp-controller="Preguntas">Ver preguntas</a>
</body>
</html>

