@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Dashboard";
}


<div class="text-center">
    <h1 class="display-4">Panel de Administración</h1>
    <button>
        <a class="btn btn-primary" asp-area="" asp-controller="Tests" asp-action="Index">Ver Test</a>
    </button>
</div>
